.center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
body{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3vw;
}
.btn{
    width: 13vw;
    
    text-align: center;
    padding:.5vw;
    border: .5vw solid blue;
    border-radius: 1.4vw;
}
