.extrude{
transition:0.4s;
}
:root{
--extrude-color:#02feaa;
}
.extrude-medium-h:hover{ 
transform: translate(-1vw,-1vw);
box-shadow: .2vw .2vw var(--extrude-color), 
            .4vw .4vw var(--extrude-color), 
            .6vw .6vw var(--extrude-color),
            .8vw .8vw var(--extrude-color), 
            1vw 1vw var(--extrude-color);
}
.extrude-small-h:hover{ 
transform: translate(-.6vw,-.6vw);
box-shadow: .2vw .2vw var(--extrude-color), 
            .4vw .4vw var(--extrude-color), 
            .6vw .6vw var(--extrude-color);
}
.extrude-large-h:hover{ 
transform: translate(-1.6vw,-1.6vw);
box-shadow: .2vw .2vw var(--extrude-color), 
                .4vw .4vw var(--extrude-color), 
                .6vw .6vw var(--extrude-color),
                .8vw .8vw var(--extrude-color), 
                1vw 1vw var(--extrude-color),
                1.2vw 1.2vw var(--extrude-color),1.4vw 1.4vw var(--extrude-color),1.6vw 1.6vw var(--extrude-color);
}
.extrude-xlarge-h:hover{ 
transform: translate(-2vw,-2vw);
box-shadow: .2vw .2vw var(--extrude-color), 
                .4vw .4vw var(--extrude-color), 
                .6vw .6vw var(--extrude-color),
                .8vw .8vw var(--extrude-color), 
                1vw 1vw var(--extrude-color),
                1.2vw 1.2vw var(--extrude-color),1.4vw 1.4vw var(--extrude-color),1.6vw 1.6vw var(--extrude-color),1.8vw 1.8vw var(--extrude-color),2vw 2vw var(--extrude-color);
}
.extrude-medium{ 
transform: translate(-1vw,-1vw);
box-shadow: .2vw .2vw var(--extrude-color), 
                .4vw .4vw var(--extrude-color), 
                .6vw .6vw var(--extrude-color),
                .8vw .8vw var(--extrude-color), 
                1vw 1vw var(--extrude-color);
}
.extrude-small{ 
transform: translate(-.6vw,-.6vw);
box-shadow: .2vw .2vw var(--extrude-color), 
                .4vw .4vw var(--extrude-color), 
                .6vw .6vw var(--extrude-color);
}
.extrude-large{ 
    transform: translate(-1.6vw,-1.6vw);
    box-shadow: .2vw .2vw var(--extrude-color), 
                .4vw .4vw var(--extrude-color), 
                .6vw .6vw var(--extrude-color),
                .8vw .8vw var(--extrude-color), 
                1vw 1vw var(--extrude-color),
                1.2vw 1.2vw var(--extrude-color),1.4vw 1.4vw var(--extrude-color),1.6vw 1.6vw var(--extrude-color);
}
.extrude-xlarge{ 
transform: translate(-2vw,-2vw);
box-shadow: .2vw .2vw var(--extrude-color), 
                .4vw .4vw var(--extrude-color), 
                .6vw .6vw var(--extrude-color),
                .8vw .8vw var(--extrude-color), 
                1vw 1vw var(--extrude-color),
                1.2vw 1.2vw var(--extrude-color),1.4vw 1.4vw var(--extrude-color),1.6vw 1.6vw var(--extrude-color),1.8vw 1.8vw var(--extrude-color),2vw 2vw var(--extrude-color);
}